* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Roboto-bold;
    src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf"), sans-serif;
}
body {
    background-color: white;
}
main {
    max-height: max-content;
    /*display: none;*/
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 5rem;
    padding: 0 10rem;
}

#img-illustration {
    grid-row: 1 / 4;
    height: 100dvh;
    padding: 2rem;
    display: block;
    /*width: fit-content;*/
}

#signup {
    grid-row: 2 / 3;
    /*padding: 5rem 5rem;*/
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#signup h1, #on-success h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#join p:first-child, #on-success p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#join ul {
    /*background-color: aqua;*/
    list-style-type: none;
}
#join ul li {
    padding-bottom: 0.5rem;
}
.icon-list {
    display: inline;
    min-width: 3rem;
    padding-right: 1rem;
    vertical-align: top;
    padding-top: 0;
    padding-bottom: 0;
}
.list-text {
    display: inline-block;
    min-width: 85%;
    padding-bottom: 10px;
    padding-top: 10px;
}
form ul {
    /*background-color: blanchedalmond;*/
    list-style-type: none;
}
.email-label {
    padding-top: 1rem;
    padding-bottom: 0;
}
form ul li {
    padding-bottom: 1rem;
}
#email, #submit, #dismiss-button {
    width: 100%;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
}
#submit, #dismiss-button {
    /*background-color: #FF634D;*/
    background-color: black;
    border: 1px solid;
    color: white;
}
#email:hover {
    cursor: pointer;
}
#email-list:hover ~ li #submit {
    background: linear-gradient(45deg, #FC5475, #FF634D);
    cursor: pointer;
}
#submit:hover, #dismiss-button:hover {
    background: linear-gradient(45deg, #FC5475, #FF634D);
    cursor: pointer;
}

#on-success {
    display: none;
    width: 25rem;
    margin: 5rem auto;
}
#on-sucess p {
    padding: 0 5rem;
}
.icon-on-success {
    width: 5rem;
    padding-bottom: 2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-device-width: 800px) {
    body {
        /*background-color: beige;*/
        padding: unset;
        margin: unset;
    }
    main {
        display: block;
        width: 100%;
        padding: 0 5rem;
        /*height: 100dvh;*/
        /*grid-template-columns: 100%;*/
        /*background-color: beige;*/
    }
    #img-illustration {
        display: none;
    }
    #signup {
        width: 100%;
        /*background-color: aqua;*/
    }
    #signup::before {
        /*content: url(assets/images/illustration-sign-up-mobile.svg);*/
        content: "";
        background-image: url('assets/images/illustration-sign-up-mobile.svg');
        display: block;
        background-size: 100% 100%;
        width: 100%;
        height: 40dvh;
        /*background-color: blue;*/
    }
    /*#signup::before, #signup::after {
        display: inline-block;
        background-color: blueviolet;
    }*/
    #signup h1 {
        font-size: 2.5rem;
        padding-top: 5rem;
    }
    #signup h1, #signup #join, #signup form {
        padding: 0 1rem;
    }
    #join ul li {
        padding-bottom: 1rem;
    }
    .icon-list {
        vertical-align: -0.2rem;
    }
    .list-text {
        max-width: 80%;
    }

    #on-success {
        position: relative;
        top: 0;
        width: 50%;
        height: 100dvh;
        margin: 0 auto;
        padding: 0 1rem;
        /*background-color: brown;*/
    }    
    .icon-on-success {
        width: 5rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    #on-success h1 {
        font-size: 2.5rem;
    }
    #on-sucess p {
        font-size: 0.8rem;
        padding: 0 5rem;
    }
    #dismiss-button {
        position: absolute;
        bottom: 0;
        width: 90%;
        margin: 1rem auto;
    }
}